## Sklearn Pipeline

In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

### Reading Cars_93 Dataset

In [2]:
import pandas as pd
df=pd.read_csv('Cars93.csv')
df

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,NaN,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,NaN,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,NaN,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [3]:
df.head()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

## Cheacking missing values

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  93 non-null     int64
 1   Manufacturer        93 non-null     object
 2   Model               93 non-null     object
 3   Type                93 non-null     object
 4   Min.Price           93 non-null     float64
 5   Price               93 non-null     float64
 6   Max.Price           93 non-null     float64
 7   MPG.city            93 non-null     int64
 8   MPG.highway         93 non-null     int64
 9   AirBags             56 non-null     object
 10  DriveTrain          93 non-null     object
 11  Cylinders           93 non-null     object
 12  EngineSize          93 non-null     float64
 13  Horsepower          93 non-null     int64
 14  RPM                 93 non-null     int64
 15  Rev.per.mile        93 non-null     int64
 16  Man.trans.avail     93 non-null     object
 17  Fuel.tank.capacity  93 non-null     float64
 18  Passengers          93 non-null     int64
 19  Length              93 non-null     int64
 20  Wheelbase           93 non-null     int64
 21  Width               93 non-null     int64
 22  Turn.circle         93 non-null     int64
 23  Rear.seat.room      91 non-null     float64
 24  Luggage.room        82 non-null     float64
 25  Weight              93 non-null     int64
 26  Origin              93 non-null     object
 27  Make                93 non-null     object
dtypes: float64(7), int64(12), object(9)
memory usage: 20.5+ KB

In [5]:
s=df.isna().sum()
s

id                     0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags               37
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [6]:
s[s>0]

AirBags           37
Rear.seat.room     2
Luggage.room      11
dtype: int64

### Seprating X and Y features

In [7]:
X = df.drop(labels=['id','Weight'],axis=1)
Y = df[['Weight']]

In [8]:
X.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,13.2,5,177,102,68,37,26.5,11.0,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,18.0,5,195,115,71,38,30.0,15.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,16.9,5,180,102,67,37,28.0,14.0,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,Front,...,21.1,6,193,106,70,37,31.0,17.0,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,21.1,4,186,109,69,39,27.0,13.0,non-USA,BMW 535i

In [9]:
Y.head()

   Weight
0    2705
1    3560
2    3375
3    3405
4    3640

#### Cat and Con sepration

In [10]:
X.columns

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Origin', 'Make'],
      dtype='object')

In [11]:
X.dtypes

Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city                int64
MPG.highway             int64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower              int64
RPM                     int64
Rev.per.mile            int64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers              int64
Length                  int64
Wheelbase               int64
Width                   int64
Turn.circle             int64
Rear.seat.room        float64
Luggage.room          float64
Origin                 object
Make                   object
dtype: object

In [12]:
cat = list(X.columns[X.dtypes=='object'])
con = list(X.columns[X.dtypes!='object'])

In [13]:
cat

['Manufacturer',
 'Model',
 'Type',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'Man.trans.avail',
 'Origin',
 'Make']

In [14]:
con

['Min.Price',
 'Price',
 'Max.Price',
 'MPG.city',
 'MPG.highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev.per.mile',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn.circle',
 'Rear.seat.room',
 'Luggage.room']

In [15]:
s[s>0]

AirBags           37
Rear.seat.room     2
Luggage.room      11
dtype: int64

## Using Automatic Sklearn Pipeline

In [16]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

In [17]:
# Numeric Pipeline
num_pipe = Pipeline(steps=[('imputer',SimpleImputer(strategy='mean')),
                           ('scaler',StandardScaler())])
# Categorical Pipeline
cat_pipe = Pipeline(steps=[('imputer',SimpleImputer(strategy='most_frequent')),
                           ('ohe',OneHotEncoder())])
# Combine numeric and categorical pipeline
pre =ColumnTransformer([('num',num_pipe,con),
                        ('cat',cat_pipe,cat)])

In [18]:
X_pre = pre.fit_transform(X).toarray()
X_pre

array([[-0.48578741, -0.37572014, -0.28246529, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.38801699,  1.49784409,  1.53140881, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.00865782,  0.99822696,  0.94805231, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.66378585,  0.39452293,  0.16416702, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.53733279,  0.33207079,  0.14593713, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.88220476,  0.7484184 ,  0.60168439, ...,  0.        ,
         0.        ,  1.        ]])

In [19]:
cols = pre.get_feature_names_out()
cols

array(['num__Min.Price', 'num__Price', 'num__Max.Price', 'num__MPG.city',
       'num__MPG.highway', 'num__EngineSize', 'num__Horsepower',
       'num__RPM', 'num__Rev.per.mile', 'num__Fuel.tank.capacity',
       'num__Passengers', 'num__Length', 'num__Wheelbase', 'num__Width',
       'num__Turn.circle', 'num__Rear.seat.room', 'num__Luggage.room',
       'cat__Manufacturer_Acura', 'cat__Manufacturer_Audi',
       'cat__Manufacturer_BMW', 'cat__Manufacturer_Buick',
       'cat__Manufacturer_Cadillac', 'cat__Manufacturer_Chevrolet',
       'cat__Manufacturer_Chrylser', 'cat__Manufacturer_Chrysler',
       'cat__Manufacturer_Dodge', 'cat__Manufacturer_Eagle',
       'cat__Manufacturer_Ford', 'cat__Manufacturer_Geo',
       'cat__Manufacturer_Honda', 'cat__Manufacturer_Hyundai',
       'cat__Manufacturer_Infiniti', 'cat__Manufacturer_Lexus',
       'cat__Manufacturer_Lincoln', 'cat__Manufacturer_Mazda',
       'cat__Manufacturer_Mercedes-Benz', 'cat__Manufacturer_Mercury',
       'cat__Manufacturer_Mitsubishi', 'cat__Manufacturer_Nissan',
       'cat__Manufacturer_Oldsmobile', 'cat__Manufacturer_Plymouth',
       'cat__Manufacturer_Pontiac', 'cat__Manufacturer_Saab',
       'cat__Manufacturer_Saturn', 'cat__Manufacturer_Subaru',
       'cat__Manufacturer_Suzuki', 'cat__Manufacturer_Toyota',
       'cat__Manufacturer_Volkswagen', 'cat__Manufacturer_Volvo',
       'cat__Model_100', 'cat__Model_190E', 'cat__Model_240',
       'cat__Model_300E', 'cat__Model_323', 'cat__Model_535i',
       'cat__Model_626', 'cat__Model_850', 'cat__Model_90',
       'cat__Model_900', 'cat__Model_Accord', 'cat__Model_Achieva',
       'cat__Model_Aerostar', 'cat__Model_Altima', 'cat__Model_Astro',
       'cat__Model_Bonneville', 'cat__Model_Camaro', 'cat__Model_Camry',
       'cat__Model_Capri', 'cat__Model_Caprice', 'cat__Model_Caravan',
       'cat__Model_Cavalier', 'cat__Model_Celica', 'cat__Model_Century',
       'cat__Model_Civic', 'cat__Model_Colt', 'cat__Model_Concorde',
       'cat__Model_Continental', 'cat__Model_Corrado',
       'cat__Model_Corsica', 'cat__Model_Corvette', 'cat__Model_Cougar',
       'cat__Model_Crown_Victoria', 'cat__Model_Cutlass_Ciera',
       'cat__Model_DeVille', 'cat__Model_Diamante', 'cat__Model_Dynasty',
       'cat__Model_ES300', 'cat__Model_Eighty-Eight',
       'cat__Model_Elantra', 'cat__Model_Escort', 'cat__Model_Eurovan',
       'cat__Model_Excel', 'cat__Model_Festiva', 'cat__Model_Firebird',
       'cat__Model_Fox', 'cat__Model_Grand_Prix', 'cat__Model_Imperial',
       'cat__Model_Integra', 'cat__Model_Justy', 'cat__Model_Laser',
       'cat__Model_LeBaron', 'cat__Model_LeMans', 'cat__Model_LeSabre',
       'cat__Model_Legacy', 'cat__Model_Legend', 'cat__Model_Loyale',
       'cat__Model_Lumina', 'cat__Model_Lumina_APV', 'cat__Model_MPV',
       'cat__Model_Maxima', 'cat__Model_Metro', 'cat__Model_Mirage',
       'cat__Model_Mustang', 'cat__Model_Passat', 'cat__Model_Prelude',
       'cat__Model_Previa', 'cat__Model_Probe', 'cat__Model_Protege',
       'cat__Model_Q45', 'cat__Model_Quest', 'cat__Model_RX-7',
       'cat__Model_Riviera', 'cat__Model_Roadmaster', 'cat__Model_SC300',
       'cat__Model_SL', 'cat__Model_Scoupe', 'cat__Model_Sentra',
       'cat__Model_Seville', 'cat__Model_Shadow', 'cat__Model_Silhouette',
       'cat__Model_Sonata', 'cat__Model_Spirit', 'cat__Model_Stealth',
       'cat__Model_Storm', 'cat__Model_Summit', 'cat__Model_Sunbird',
       'cat__Model_Swift', 'cat__Model_Taurus', 'cat__Model_Tempo',
       'cat__Model_Tercel', 'cat__Model_Town_Car', 'cat__Model_Vision',
       'cat__Type_Compact', 'cat__Type_Large', 'cat__Type_Midsize',
       'cat__Type_Small', 'cat__Type_Sporty', 'cat__Type_Van',
       'cat__AirBags_Driver & Passenger', 'cat__AirBags_Driver only',
       'cat__DriveTrain_4WD', 'cat__DriveTrain_Front',
       'cat__DriveTrain_Rear', 'cat__Cylinders_3', 'cat__Cylinders_4',
       'cat__Cylinders_5', 'cat__Cylinders_6', 'cat__Cylinders_8',
       'cat__Cylinders_rotary', 'cat__Man.trans.avail_No',
       'cat__Man.trans.avail_Yes', 'cat__Origin_USA',
       'cat__Origin_non-USA', 'cat__Make_Acura Integra',
       'cat__Make_Acura Legend', 'cat__Make_Audi 100',
       'cat__Make_Audi 90', 'cat__Make_BMW 535i',
       'cat__Make_Buick Century', 'cat__Make_Buick LeSabre',
       'cat__Make_Buick Riviera', 'cat__Make_Buick Roadmaster',
       'cat__Make_Cadillac DeVille', 'cat__Make_Cadillac Seville',
       'cat__Make_Chevrolet Astro', 'cat__Make_Chevrolet Camaro',
       'cat__Make_Chevrolet Caprice', 'cat__Make_Chevrolet Cavalier',
       'cat__Make_Chevrolet Corsica', 'cat__Make_Chevrolet Corvette',
       'cat__Make_Chevrolet Lumina', 'cat__Make_Chevrolet Lumina_APV',
       'cat__Make_Chrylser Concorde', 'cat__Make_Chrysler Imperial',
       'cat__Make_Chrysler LeBaron', 'cat__Make_Dodge Caravan',
       'cat__Make_Dodge Colt', 'cat__Make_Dodge Dynasty',
       'cat__Make_Dodge Shadow', 'cat__Make_Dodge Spirit',
       'cat__Make_Dodge Stealth', 'cat__Make_Eagle Summit',
       'cat__Make_Eagle Vision', 'cat__Make_Ford Aerostar',
       'cat__Make_Ford Crown_Victoria', 'cat__Make_Ford Escort',
       'cat__Make_Ford Festiva', 'cat__Make_Ford Mustang',
       'cat__Make_Ford Probe', 'cat__Make_Ford Taurus',
       'cat__Make_Ford Tempo', 'cat__Make_Geo Metro',
       'cat__Make_Geo Storm', 'cat__Make_Honda Accord',
       'cat__Make_Honda Civic', 'cat__Make_Honda Prelude',
       'cat__Make_Hyundai Elantra', 'cat__Make_Hyundai Excel',
       'cat__Make_Hyundai Scoupe', 'cat__Make_Hyundai Sonata',
       'cat__Make_Infiniti Q45', 'cat__Make_Lexus ES300',
       'cat__Make_Lexus SC300', 'cat__Make_Lincoln Continental',
       'cat__Make_Lincoln Town_Car', 'cat__Make_Mazda 323',
       'cat__Make_Mazda 626', 'cat__Make_Mazda MPV',
       'cat__Make_Mazda Protege', 'cat__Make_Mazda RX-7',
       'cat__Make_Mercedes-Benz 190E', 'cat__Make_Mercedes-Benz 300E',
       'cat__Make_Mercury Capri', 'cat__Make_Mercury Cougar',
       'cat__Make_Mitsubishi Diamante', 'cat__Make_Mitsubishi Mirage',
       'cat__Make_Nissan Altima', 'cat__Make_Nissan Maxima',
       'cat__Make_Nissan Quest', 'cat__Make_Nissan Sentra',
       'cat__Make_Oldsmobile Achieva',
       'cat__Make_Oldsmobile Cutlass_Ciera',
       'cat__Make_Oldsmobile Eighty-Eight',
       'cat__Make_Oldsmobile Silhouette', 'cat__Make_Plymouth Laser',
       'cat__Make_Pontiac Bonneville', 'cat__Make_Pontiac Firebird',
       'cat__Make_Pontiac Grand_Prix', 'cat__Make_Pontiac LeMans',
       'cat__Make_Pontiac Sunbird', 'cat__Make_Saab 900',
       'cat__Make_Saturn SL', 'cat__Make_Subaru Justy',
       'cat__Make_Subaru Legacy', 'cat__Make_Subaru Loyale',
       'cat__Make_Suzuki Swift', 'cat__Make_Toyota Camry',
       'cat__Make_Toyota Celica', 'cat__Make_Toyota Previa',
       'cat__Make_Toyota Tercel', 'cat__Make_Volkswagen Corrado',
       'cat__Make_Volkswagen Eurovan', 'cat__Make_Volkswagen Fox',
       'cat__Make_Volkswagen Passat', 'cat__Make_Volvo 240',
       'cat__Make_Volvo 850'], dtype=object)

In [20]:
X_pre = pd.DataFrame(X_pre,columns=cols)
X_pre.head()

,num__Min.Price,num__Price,num__Max.Price,num__MPG.city,num__MPG.highway,num__EngineSize,num__Horsepower,num__RPM,num__Rev.per.mile,num__Fuel.tank.capacity,...,cat__Make_Toyota Camry,cat__Make_Toyota Celica,cat__Make_Toyota Previa,cat__Make_Toyota Tercel,cat__Make_Volkswagen Corrado,cat__Make_Volkswagen Eurovan,cat__Make_Volkswagen Fox,cat__Make_Volkswagen Passat,cat__Make_Volvo 240,cat__Make_Volvo 850
0,-0.485787,-0.375720,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.388017,1.497844,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,0.409445,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.008658,0.998227,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,0.072197,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.755752,1.091905,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,1.359872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
X_pre.isna().sum()

num__Min.Price                  0
num__Price                      0
num__Max.Price                  0
num__MPG.city                   0
num__MPG.highway                0
                               ..
cat__Make_Volkswagen Eurovan    0
cat__Make_Volkswagen Fox        0
cat__Make_Volkswagen Passat     0
cat__Make_Volvo 240             0
cat__Make_Volvo 850             0
Length: 256, dtype: int64

In [22]:
# Save the preproessed dataset
X_pre.to_csv('carspre1.csv',index=False)

## Train and Test split

In [23]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest =train_test_split(X_pre, Y, test_size=0.2, random_state=21)

In [24]:
xtrain.shape

(74, 256)

In [25]:
xtest.shape

(19, 256)

## Creating a model

In [26]:
from sklearn.linear_model import LinearRegression
model =LinearRegression()
model.fit(xtrain, ytrain)

LinearRegression()

In [27]:
#R2 score for training
model.score(xtrain, ytrain)

1.0

In [28]:
#R2 score for testing
model.score(xtest, ytest)

0.9351967964483563

## Predict Train and Test data

In [29]:
ypred_tr = model.predict(xtrain)
ypred_ts = model.predict(xtest)

In [30]:
ypred_tr[0:5]

array([[2920.],
       [2530.],
       [3730.],
       [3490.],
       [4055.]])

In [31]:
ytrain.head()

    Weight
57    2920
31    2530
62    3730
29    3490
51    4055

In [32]:
ypred_ts[0:5]

array([[2554.20872279],
       [3606.90269445],
       [3030.8573198 ],
       [3332.74576242],
       [3952.89048147]])

In [33]:
ytest.head()

    Weight
23    2670
86    3785
91    2985
21    3570
17    3910

## Evaluating Train and Test data

In [34]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
def evaluate_model(xtrain, ytrain, xtest, ytest, model):
    ypred_tr = model.predict(xtrain)
    ypred_ts = model.predict(xtest)
    
    # Trainiing results
    tr_mse = mean_squared_error(ytrain, ypred_tr)
    tr_rmse = tr_mse**(1/2)
    tr_mae = mean_absolute_error(ytrain,ypred_tr)
    tr_r2 = r2_score(ytrain,ypred_tr)
    print('Training Results :\n')
    print(f'MSE : {tr_mse:.2f}')
    print(f'RMSE: {tr_rmse:.2f}')
    print(f'MAE : {tr_mae:.2f}')
    print(f'R2  : {tr_r2:.4f}')
    print('\n========================================\n')

    # Testing result
    ts_mse = mean_squared_error(ytest, ypred_ts)
    ts_rmse = ts_mse**(1/2)
    ts_mae = mean_absolute_error(ytest,ypred_ts)
    ts_r2 = r2_score(ytest,ypred_ts)
    print('Testing Results :\n')
    print(f'MSE : {ts_mse:.2f}')
    print(f'RMSE: {ts_rmse:.2f}')
    print(f'MAE : {ts_mae:.2f}')
    print(f'R2  : {ts_r2:.4f}')

In [35]:
evaluate_model(xtrain, ytrain, xtest, ytest, model)

Training Results :

MSE : 0.00
RMSE: 0.00
MAE : 0.00
R2  : 1.0000

========================================

Testing Results :

MSE : 23503.92
RMSE: 153.31
MAE : 115.33
R2  : 0.9352

## Predict the new car prices

In [36]:
xnew = pd.read_csv('sample.csv')
xnew

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Origin,Make
0,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,Front,...,21.1,6,193,106,70,37,31.0,17.0,non-USA,Audi 100
1,Pontiac,Sunbird,Compact,9.4,11.1,12.8,23,31,NaN,Front,...,15.2,5,181,101,66,39,25.0,13.0,USA,Pontiac Sunbird
2,Chevrolet,Lumina,Midsize,13.4,15.9,18.4,21,29,NaN,Front,...,16.5,6,198,108,71,40,28.5,16.0,USA,Chevrolet Lumina
3,Mazda,RX-7,Sporty,32.5,32.5,32.5,17,25,Driver only,Rear,...,20.0,2,169,96,69,37,NaN,NaN,non-USA,Mazda RX-7
4,Volkswagen,Fox,Small,8.7,9.1,9.5,25,33,NaN,Front,...,12.4,4,163,93,63,34,26.0,10.0,non-USA,Volkswagen Fox

In [37]:
xnew.columns

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Origin', 'Make'],
      dtype='object')

In [38]:
xnew_pre = pre.transform(xnew).toarray()
xnew_pre

array([[ 1.57194871,  1.89337432,  2.06919057, ...,  0.        ,
         0.        ,  0.        ],
       [-0.88813804, -0.87533727, -0.829362  , ...,  0.        ,
         0.        ,  0.        ],
       [-0.42830874, -0.37572014, -0.31892507, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.76737617,  1.35212243,  0.9662822 , ...,  0.        ,
         0.        ,  0.        ],
       [-0.96860817, -1.08351107, -1.1301552 , ...,  0.        ,
         0.        ,  0.        ]])

In [39]:
xnew_pre = pd.DataFrame(xnew_pre,columns=cols)
xnew_pre

,num__Min.Price,num__Price,num__Max.Price,num__MPG.city,num__MPG.highway,num__EngineSize,num__Horsepower,num__RPM,num__Rev.per.mile,num__Fuel.tank.capacity,...,cat__Make_Toyota Camry,cat__Make_Toyota Celica,cat__Make_Toyota Previa,cat__Make_Toyota Tercel,cat__Make_Volkswagen Corrado,cat__Make_Volkswagen Eurovan,cat__Make_Volkswagen Fox,cat__Make_Volkswagen Passat,cat__Make_Volvo 240,cat__Make_Volvo 850
0,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.888138,-0.875337,-0.829362,0.113500,0.360925,-0.647181,-0.649388,-0.135877,0.673908,-0.449005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.428309,-0.375720,-0.318925,-0.244313,-0.016221,-0.453339,-0.649388,-0.135877,0.532158,-0.050439,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.767376,1.352122,0.966282,-0.959938,-0.770514,-1.325626,2.134145,2.054464,-0.014589,1.022624,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.968608,-1.083511,-1.130155,0.471312,0.738071,-0.841022,-1.206095,0.369586,0.441034,-1.307455,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## Estimate car weights

In [40]:
pred = model.predict(xnew_pre)
pred

array([[3508.26379418],
       [2575.        ],
       [3195.        ],
       [2895.        ],
       [2240.        ]])

####  Store the preducted values in csv file

In [41]:
xnew['WeightPredict']=pred
xnew

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Origin,Make,WeightPredict
0,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,Front,...,6,193,106,70,37,31.0,17.0,non-USA,Audi 100,3508.263794
1,Pontiac,Sunbird,Compact,9.4,11.1,12.8,23,31,NaN,Front,...,5,181,101,66,39,25.0,13.0,USA,Pontiac Sunbird,2575.000000
2,Chevrolet,Lumina,Midsize,13.4,15.9,18.4,21,29,NaN,Front,...,6,198,108,71,40,28.5,16.0,USA,Chevrolet Lumina,3195.000000
3,Mazda,RX-7,Sporty,32.5,32.5,32.5,17,25,Driver only,Rear,...,2,169,96,69,37,NaN,NaN,non-USA,Mazda RX-7,2895.000000
4,Volkswagen,Fox,Small,8.7,9.1,9.5,25,33,NaN,Front,...,4,163,93,63,34,26.0,10.0,non-USA,Volkswagen Fox,2240.000000

In [42]:
xnew.to_csv('Predictions_of_car.csv',index=False)